<div class="container">
  <div class="scroll-y h-100">
    <br>
    <div class="map-form">
      <div class="map-input-con">
        <input class="w-100" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places"
          (onAddressChange)="handleAddressChange($event)" />
      </div>
      <div class="map-form">
        <agm-map class="map-time h-100" [latitude]="latitude" [longitude]="longitude"></agm-map>
      </div>
    </div>
    <br>
    <br>
    <div class="d-flex justify-content-center">
      <img style="width:500px;background-color:black;position:relative;height:300px" src="{{imgUrl}}" alt="">
    </div>
    <div class="d-flex justify-content-center">
        <input id="file-input" style="position:relative;height:0;width:0" type="file">
      <label class="btn btn-primary m-3" for="file-input">
        upload
      </label>
    </div>
    <br>
    <br>
    <br>
    <div *ngFor="let feild of feildList">
      <p>
        {{feild.label}} :
      </p>
      <input [(ngModel)]="feild.value" *ngIf="!feild.type" placeholder="{{feild.label}}" class="w-100 form-control" />
      <textarea [(ngModel)]="feild.value" *ngIf="feild.type == 'textArea'" placeholder="{{feild.label}}" class="w-100 form-control"></textarea>
      <br>
    </div>
    <br>
    <div>
      <button (click)="save()" class="btn btn-primary m-3">Save</button>
    </div>
    <br>
  </div>
</div>