/* Add application styles & imports to this file! */

  @import "@angular/material/prebuilt-themes/indigo-pink.css";

	@font-face {
		font-family: Brandon_bld;
		src: url(/assets/fonts/brandonG/Brandon_bldd.otf) format("opentype");
		font-weight: 'bold';
	}

	@font-face {
		font-family: BrandonG;
		src: url(/assets/fonts/brandonG/Brandon_regd.otf) format("opentype");
	}

	.Brandon_bld {
		font-family: 'Brandon_bld';
		font-weight: bold;
	}

	.brandong {
		font-family: 'BrandonG';
	}


