/* Add application styles & imports to this file! */

@import "@angular/material/prebuilt-themes/indigo-pink.css";
.Brandon_bld {
    font-family: 'Lato';
    font-weight: bold;
}

.brandong {
    font-family: 'Lato';
}